@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
  --main-bistre: #432818;
  --main-bistre-variation: #56331f;
  --main-lion: #bb9457;
  --main-peach: #ffe6a7;
}

a {
  color: var(--main-peach);
  text-decoration: none;
}

img {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, .3);
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

/* Brand Styles */
#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#brand h1, h1 div {
  font-family: "League Spartan"
}

#brand h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h1 div {
  font-weight: 400;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 0 2.5rem;
  font-size: 1.8rem;
  position: relative;
}

#collection img {
  box-shadow: none;
}

/* Dropdown Styles */
#dropdown-content, header {
  background-color: var(--main-bistre)
}

#dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 .8rem 1.6rem rgba(0, 0, 0, .5);
}

#dropdown-content a {
  font-size: .8em;
  padding: 1.2rem 3rem;
  display: block;
}

#dropdown-content a:hover {
  background-color: var(--main-bistre-variation);
}

nav li:focus-within #dropdown-content {
  display: block;
}

nav li > a {
  display: flex;
  align-items: center;
}

li img {
  width: 2rem;
}

/* Hamburger Style */
#menuCheckbox {
  display: none;
}

#menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
}

.bar {
  background-color: var(--main-peach);
  height: .25rem;
  width: 1.5rem;
  margin-bottom: .25rem;
  border-radius: 2px;
}

/* Main Styles */



/* Responsive Style*/

/* Mobile */
@media screen and (max-width: 775px) {
  header, .product-card-frame{
    flex-direction: column;
    align-items: center;
  }

  #menu-toggle {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: .5rem;
    padding: 1rem;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav li {
    margin: .5rem 0;
  }

  nav li:first-child {
    margin-top: 2rem;
  }

  #menuCheckbox:checked ~ nav ul {
    display: flex;
  }
}

/* Tablet */
@media screen and (min-width: 776px) and (max-width: 1200px) {
  :root {
    font-size: 10px;
  }

  header {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav {
    margin-top: 2rem;
    text-align: center;
  }
}

/* TV */
@media screen and (min-width: 1800px) {
  :root {
    font-size: 24px;
  }

  header {
    padding: 4rem;
  }
}
