@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

body {
  background-image: url(../img/pattern.png);
  background-color: var(--main-bistre);
  font-family: "Montserrat", sans-serif;
  --main-bistre: #432818;
  --main-bistre-variation: #56331f;
  --main-lion: #bb9457;
  --main-peach: #ffe6a7;
}

a {
  color: var(--main-peach);
  text-decoration: none;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

/* Brand Styles */
#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#brand h1,
h1 div {
  font-family: "League Spartan";
}

#brand h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h1 div {
  font-weight: 400;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 0 2.5rem;
  font-size: 1.8rem;
  position: relative;
}

#collection img {
  box-shadow: none;
}

/* Dropdown Styles */
#dropdown-content,
header {
  background-color: var(--main-bistre);
}

#dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

#dropdown-content a {
  font-size: 0.8em;
  padding: 1.2rem 3rem;
  display: block;
}

#dropdown-content a:hover {
  background-color: var(--main-bistre-variation);
}

nav li:focus-within #dropdown-content {
  display: block;
}

nav li > a {
  display: flex;
  align-items: center;
}

li img {
  width: 2rem;
}

/* Hamburger Style */
#menuCheckbox {
  display: none;
}

#menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
}

.bar {
  background-color: var(--main-peach);
  height: 0.25rem;
  width: 1.5rem;
  margin-bottom: 0.25rem;
  border-radius: 2px;
}

/* Support Style */
main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  width: 50%;
  padding: 4rem 8rem;
  margin: 6rem 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(209, 209, 209, 0.141);
  backdrop-filter: blur(3px);
  border: 1px solid #ffffff;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 3.3rem;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

#titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 4rem;
}

#form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

#form-field > div {
  width: 100%;
}

#row1 {
  display: flex;
  justify-content: space-between;
}

#row1 .input-container {
  width: 40%;
}

#row4 {
  display: flex;
  justify-content: center;
}

/* Bar Input */

.input-container {
  position: relative;
}

.input {
  font-size: 1.1rem;
  padding: 1rem 0;
}

.input:focus {
  outline: none;
}

label {
  color: #242424;
}

.input-container label {
  position: absolute;
  left: 0.3rem;
  top: 1rem;
  transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label {
  top: -1.5rem;

  color: #5264ae;
}

.input:focus ~ .form-bar:after {
  width: 100%;
  left: 0%;
}

.form-bar:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #5264ae;
  transition: 0.2s ease;
}

/* Message Input */
.message-input {
  position: relative;
}

.message-input textarea {
  width: 100%;
  height: 12rem;
  box-sizing: border-box;
  resize: none;
  border: solid 1px #515151;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1.1rem;
  font-family: sans-serif;
  transition: border 0.2s ease;
}

.message-input label {
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(1rem);
  transition: 0.2s ease;
}

.message-input textarea:focus,
.message-input textarea:valid {
  outline: none;
}

.message-input textarea:focus ~ label,
.message-input textarea:valid ~ label {
  transform: translateY(-50%);
  background-color: #f9f9f9;
  padding: 0 0.2em;
  color: #5264ae;
}

/* Submit Button */
button {
  border: none;
  width: 100%;
  background: #242424;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.button-text {
  display: block;
  background: #f4f4f4;
  color: #242424;
  border-radius: 1rem;
  border: 2px solid #242424;
  padding: 0.9rem 1.5rem;
  transform: translateY(-0.2rem);
  transition: transform 0.1s ease;
  box-sizing: border-box;
}

button:hover .button-text {
  transform: translateY(-0.33rem);
}

button:active .button-text {
  transform: translateY(0);
}

/* Footer */
footer {
  background-color: var(--main-bistre);
  z-index: 2;
  position: relative;
}

footer nav {
  display: flex;
  justify-content: space-around;
}

footer nav > div {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}

footer nav > div > div {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--main-peach);
}

footer nav ul {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

footer nav li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  width: fit-content;
}

/* Hover Animations */
nav li > a:hover:after,
nav li > a:focus::after {
  width: 100%;
  left: 0%;
}

nav li > a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: var(--main-peach);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Launch Animations */
.slide-in-top {
  animation: slide-in-top 0.9s ease-out;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.6s ease-out;
  z-index: 1;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive Style*/

/* Mobile */
@media screen and (max-width: 775px) {
  header,
  .product-card-frame {
    flex-direction: column;
    align-items: center;
  }

  #menu-toggle {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: 0.5rem;
    padding: 1rem;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav li {
    margin: 0.5rem 0;
  }

  nav li:first-child {
    margin-top: 2rem;
  }

  #menuCheckbox:checked ~ nav ul {
    display: flex;
  }

  form {
    width: 100%;
    padding: 10%;
    margin: 12% 10%;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  #row1 {
    flex-direction: column;
    gap: 3rem;
  }

  #row1 .input-container {
    width: 100%;
  }

  footer nav {
    flex-direction: column;
    align-items: center;
  }

  footer nav ul,
  footer nav > div {
    align-items: center;
  }

  footer nav > div {
    margin: 2rem 0;
  }

  .nav-button:after {
    width: 0;
  }

  .slide-in-top,
  .slide-in-bottom {
    animation: none;
  }
}

/* Tablet */
@media screen and (min-width: 776px) and (max-width: 1200px) {
  :root {
    font-size: 10px;
  }

  header {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav {
    margin-top: 2rem;
    text-align: center;
  }
}

/* TV */
@media screen and (min-width: 1800px) {
  :root {
    font-size: 18px;
  }
}
